<%# <h1>Edit Todo Item</h1> %>

<center>
  <div class="card col-6">
      <h1 class="card-header">Edit Todo</h5>
    <div class="card-body">
      <%= render "form", list: @list %>
    </div>
    <div class="card-footer">
      <% link_to "Show this list", @list %>
      <%= link_to "Back to lists", root_path %>
    </div>
  </div>
</center>
